#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.react-calendar {
  border: none !important;
  font-family: inherit;
  font-size: 1.05rem;
  border-radius: 18px;
  box-shadow: 0 2px 8px 0 rgba(80,120,200,0.06);
}

.react-calendar__tile--active,
.selected-date {
  background: #7cc4fa !important;
  color: #fff !important;
  border-radius: 12px !important;
}

.react-calendar__tile--now {
  background: #e4effe !important;
  color: #1780d4 !important;
  border-radius: 12px !important;
}

.react-calendar__tile {
  border-radius: 10px !important;
  padding: 10px 0 !important;
  transition: background 0.1s;
}
